body {
    background-color: powderblue;
  }
  h1 {
    color: rgb(64, 62, 11);
    font-family: verdana;
    font-size: 300%;
  }

  h2 {
    color: rgb(72, 6, 39);
    font-size: 100%;
  }

  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  p {
    border: 2px solid powderblue;
  }